<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1sXkLihdTYqR75w1tbN2jkyi7_QG5Rdg</string>
	<key>GCM_SENDER_ID</key>
	<string>1039799013129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMediaFeed.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>socialmedia-feed-26324</string>
	<key>STORAGE_BUCKET</key>
	<string>socialmedia-feed-26324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039799013129:ios:77b4808ded3545ac670dd8</string>
</dict>
</plist>